@charset "utf-8";
/* line 13, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol.unstyled, ul.unstyled, li.unstyled,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, select, textarea {
  margin: 0;
  padding: 0;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  font-size: 13px;
  vertical-align: baseline;
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* line 19, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
html {
  line-height: 1.25;
  color: #333333;
  background: white;
}

/* line 23, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
ol.unstyled, ul.unstyled {
  list-style: none;
}

/* line 27, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities-legacy.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
a {
  color: blue;
}
/* line 38, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
a img {
  border: none;
}

/* line 42, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/setting/initialization/_global-reset.scss */
hr {
  margin: 0;
  padding: 0;
  border: 0 none;
}

/* line 108, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities-legacy.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

/* line 4, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/scaffolding/layout-outline/_column.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 1, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/scaffolding/layout-outline/_header.scss */
.header {
  width: 100%;
  margin: 0 auto;
}

/* line 1, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/scaffolding/layout-outline/_footer.scss */
.footer {
  width: 100%;
  margin: 0 auto;
}

/* line 1, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_default {
  font-weight: normal;
}

/* line 5, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_warning {
  color: #ef8f35;
}

/* line 9, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_notes {
  color: #777777;
}

/* line 13, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_error {
  color: #dd2211;
}

/* line 17, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_info {
  color: #0055aa;
}

/* line 21, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_color.scss */
.clr_white {
  color: white;
}

/* line 2, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_top0 {
  margin-top: 0;
}

/* line 6, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_top {
  margin-top: 10px;
}

/* line 10, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_top_huge {
  margin-top: 20px;
}

/* line 14, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_top_large {
  margin-top: 15px;
}

/* line 18, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_top_small {
  margin-top: 5px;
}

/* line 23, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_right0 {
  margin-right: 0;
}

/* line 27, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_right {
  margin-right: 10px;
}

/* line 31, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_right_huge {
  margin-right: 20px;
}

/* line 35, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_right_large {
  margin-right: 15px;
}

/* line 39, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_right_small {
  margin-right: 5px;
}

/* line 44, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_bottom0 {
  margin-bottom: 0;
}

/* line 48, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_bottom {
  margin-bottom: 10px;
}

/* line 52, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_bottom_huge {
  margin-bottom: 20px;
}

/* line 56, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_bottom_large {
  margin-bottom: 15px;
}

/* line 60, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_bottom_small {
  margin-bottom: 5px;
}

/* line 65, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_left0 {
  margin-left: 0;
}

/* line 69, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_left {
  margin-left: 10px;
}

/* line 73, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_left_huge {
  margin-left: 20px;
}

/* line 77, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_left_large {
  margin-left: 15px;
}

/* line 81, /Users/yoshihiro.fujita/work/packleberry/sp/sass/partial/skin/_margin.scss */
.margin_left_small {
  margin-left: 5px;
}
