//============================================================
// color
//============================================================
// text
$textDefaultColor:  #333;
$textWarningColor:  #ef8f35;
$textNotesColor:    #777;
$textErrorColor:    #d21;
$textInfoColor:     #05a;
$textDisabledColor: #ccc;
$textWhiteColor:    #fff;
$textLinkColor:     #00f;

// background
$bgDefaultColor:  #fff;
$bgWarningColor:  #fdfde9;
$bgNotesColor:    #efefef;
$bgErrorColor:    #fee;
$bgInfoColor:     #d3f3f3;
$bgDisabledColor: #f2f2f2;
$bgWhiteColor:    #fff;

// border
$borderDefaultColor:  #c4c5c5;
$borderWarningColor:  #ffa836;
$borderNotesColor:    #efefef;
$borderErrorColor:    #ff5757;
$borderInfoColor:     #8db8d3;
$borderDisabledColor: #efefef;
$borderWhiteColor:    #fff;