// border solid
@mixin borderDefault (
    $top:$borderDefaultWidth,
    $right:$borderDefaultWidth,
    $bottom:$borderDefaultWidth,
    $left:$borderDefaultWidth,
    $type:$borderStyleSolid
  ) {
    border: $borderDefaultColor $type;
    border-width: $top $right $bottom $left;
}

@mixin borderWarning (
    $top:$borderDefaultWidth,
    $right:$borderDefaultWidth,
    $bottom:$borderDefaultWidth,
    $left:$borderDefaultWidth,
    $type:$borderStyleSolid
  ) {
    border: $borderWarningColor $type;
    border-width: $top $right $bottom $left;
}

@mixin borderNote (
    $top:$borderDefaultWidth,
    $right:$borderDefaultWidth,
    $bottom:$borderDefaultWidth,
    $left:$borderDefaultWidth,
    $type:$borderStyleSolid
  ) {
    border: $borderNoteColor $type;
    border-width: $top $right $bottom $left;
}

@mixin borderError (
    $top:$borderDefaultWidth,
    $right:$borderDefaultWidth,
    $bottom:$borderDefaultWidth,
    $left:$borderDefaultWidth,
    $type:$borderStyleSolid
  ) {
    border: $borderErrorColor $type;
    border-width: $top $right $bottom $left;
}

@mixin borderInfo (
    $top:$borderDefaultWidth,
    $right:$borderDefaultWidth,
    $bottom:$borderDefaultWidth,
    $left:$borderDefaultWidth,
    $type:$borderStyleSolid
  ) {
    border: $borderInfoColor $type;
    border-width: $top $right $bottom $left;
}
