$onlyChild: ":first-child:last-child";

//============================================================
// margin-top:0
//============================================================
@mixin firstChildMarginTop {
  &:first-child {
    margin-top: 0;
  }
}

//============================================================
// margin-bottom:0
//============================================================
@mixin lastChildMarginBottom {
  &:last-child {
    margin-bottom: 0;
  }
}

//============================================================
// margin-left:0
//============================================================
@mixin firstChildMarginLeft {
  &:first-child {
    margin-left: 0;
  }
}

//============================================================
// margin-right:0
//============================================================
@mixin lastChildMarginRight {
  &:last-child {
    margin-right: 0;
  }
}
