// margin top
.marginTop0 {
	margin-top: 0;
}

.marginTop {
  margin-top: $spacing;
}

.marginTopHuge {
  margin-top: $spacingHuge;
}

.marginTopLarge {
  margin-top: $spacingLarge;
}

.marginTopSmall {
  margin-top: $spacingSmall;
}

// margin right
.marginRight0 {
  margin-right: 0;
}

.marginRight {
  margin-right: $spacing;
}

.marginRightHuge {
  margin-right: $spacingHuge;
}

.marginRightLarge {
  margin-right: $spacingLarge;
}

.marginRightSmall {
  margin-right: $spacingSmall;
}

// margin bottom
.marginBottom0 {
  margin-bottom: 0;
}

.marginBottom {
  margin-bottom: $spacing;
}

.marginBottomHuge {
  margin-bottom: $spacingHuge;
}

.marginBottomLarge {
  margin-bottom: $spacingLarge;
}

.marginBottomSmall {
  margin-bottom: $spacingSmall;
}

// margin left
.marginLeft0 {
  margin-left: 0;
}

.marginLeft {
  margin-left: $spacing;
}

.marginLeftHuge {
  margin-left: $spacingHuge;
}

.marginLeftLarge {
  margin-left: $spacingLarge;
}

.marginLeftSmall {
  margin-left: $spacingSmall;
}