.wrapper {
  width: $wrapper_width;
  margin: 0 auto;
  @include legacy-pie-clearfix();
}

// 3カラム
@mixin column3(
    $class:column3,
    $margin_top:50px,
    $margin_bottom:20px,
    $left_sidebar_width:300px,
    $left_sidebar_margin:20px,
    $right_sidebar_width:200px,
    $right_sidebar_margin:20px
  ) {
  .#{$class} {
    margin-top: $margin_top;
    margin-bottom: $margin_bottom;
    .container {
      width: 100%;
      float: left;
      margin-right: -$right_sidebar_width;
    }
    
    .contents {
      width: 100%;
      float: right;
      margin-left: -$left_sidebar_width;
    }
    
    .contents_inner {
      position: relative;
      margin: 0 #{$right_sidebar_width + $right_sidebar_margin} 0 #{$left_sidebar_width + $left_sidebar_margin};
    }
    
    .left_sidebar {
      width: $left_sidebar_width;
      float: left;
    }
    
    .right_sidebar {
      width: $right_sidebar_width;
      float: right;
    }
  }
}