//============================================================
// 全体幅
//============================================================
$wrapper_width: 95%;

//============================================================
// デフォルト設定
//============================================================
// wrapper上下マージン
$def_wrapper_margin_top: 20px;
$def_wrapper_margin_bottom: 20px;

// 左カラム幅・マージン
$def_left_sidebar_width: 300px;
$def_left_sidebar_margin: 20px;

// 右カラム幅・マージン
$def_right_sidebar_width: 200px;
$def_right_sidebar_margin: 20px;