//============================================================
// image path
//============================================================
$imgPath: "../img/";


//============================================================
// spacing
//============================================================
$spacing: 10px;
$spacingHuge: ($spacing + 10px);
$spacingLarge: ($spacing + 5px);
$spacingSmall: ($spacing - 5px);


//============================================================
// section margin
//============================================================
$sectionMargin: 20px;
$sectionMarginHuge: ($sectionMargin + 10px);
$sectionMarginLarge: ($sectionMargin + 5px);
$sectionMarginSmall: ($sectionMargin - 5px);


//============================================================
// padding
//============================================================
$padding: 10px;
$paddingHuge: ($padding + 10px);
$paddingLarge: ($padding + 5px);
$paddingSmall: ($padding - 5px);


//============================================================
// Heading
//============================================================
$h1DefaultSizeLv1: 39;
$h1DefaultSizeLv2: 32;
$h2DefaultSizeLv1: 32;
$h2DefaultSizeLv2: 26;
$h3DefaultSizeLv1: 26;
$h3DefaultSizeLv2: 19;
$h4DefaultSizeLv1: 13;
$h5DefaultSizeLv1: 11;
$h6DefaultSizeLv1: 11;
$headingUnit: px;


//============================================================
// font
//============================================================
// size
$textDefaultSize: 13;
$textHugeSize: ($textDefaultSize + 4);
$textLargeSize: ($textDefaultSize + 2);
$textMediumSize: $textDefaultSize;
$textSmallSize: ($textDefaultSize - 2);
$textUnit: px;

// weight
$textNoramlWeight: normal;
$textBoldWeight: bold;

// family
$textFontFamily: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;

// line-heihgt
$textLineHeight: $textDefaultSize * 0.1;

// color
$textDefaultColor: #333;
$textWarningColor: #f00;
$textNoteColor:    #666;
$textErrorColor:   #c33;
$textInfoColor:    #69c;
$textDisableColor: #ccc;
$textWhiteColor:   #fff;

// text align
$textAlignLeft: left;
$textAlignCenter: center;
$textAlignRight: right;


//============================================================
// background
//============================================================
// color
$bgDefaultColor: #fff;
$bgWarningColor: #f00;
$bgNoteColor:    #666;
$bgErrorColor:   #c33;
$bgInfoColor:    #69c;
$bgDisableColor: #eee;
$bgWhiteColor:   #fff;


//============================================================
// border
//============================================================
// color
$borderDefaultColor: #333;
$borderWarningColor: #f00;
$borderNoteColor:    #666;
$borderErrorColor:   #c33;
$borderInfoColor:   #69c;
$borderWhiteColor:   #fff;

// style
$borderStyleSolid: solid;
$borderStyleDotted: dotted;
$borderStyleDashed: dashed;

// width
$borderDefaultWidth: 1px;
$borderLargeWidth: 2px;
$borderHugeWidth: 3px;


//============================================================
// table
//============================================================
$tableStripedColor: #ddd;

//============================================================
// width [button]
//============================================================
$btnWidth: 100;
$btnWidthHuge: $btnWidth * 2;
$btnWidthLarge: $btnWidth * 1.5;
$btnWidthMedium: $btnWidth;
$btnWidthSmall: $btnWidth / 2;
$btnWidthUnit: px;

//============================================================
// width [form]
//============================================================