//============================================================
// font
//============================================================
// font-size
$textDefaultSize: 13;
$textHugeSize: ($textDefaultSize + 4);
$textLargeSize: ($textDefaultSize + 2);
$textMediumSize: $textDefaultSize;
$textSmallSize: ($textDefaultSize - 2);
$textUnit: px;

// font-weight
$textNoramlWeight: normal;
$textBoldWeight: bold;

// font-family
$textFontFamily: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;

//============================================================
// line-heihgt
//============================================================
// line-height
$textLineHeight: $textDefaultSize * 0.1;

//============================================================
// color
//============================================================
// color
$textDefaultColor: "#333";
$textWarningColor: "#f00";
$textNoteColor:    "#666";