//============================================================
// 初期設定
//============================================================
// グリッド全体幅
$gridOutWidth: 100;

// グリッドマージン
$gridMargin: 2;

// 単位
$gridUnit : "%";

// グリッド分割数
$gridNum: 12;

//============================================================
// デフォルト設定
//============================================================
$rowDefaultMarginTop: 0;
$rowDefaultMarginBottom: 20px;