@mixin row(
		$rowMargnTop:$rowDefaultMarginTop,
		$rowMargnBottom:$rowDefaultMarginBottom
	) {
  width: #{($gridOutWidth + $gridMargin)}#{$gridUnit};
  margin: $rowMargnTop -#{$gridMargin}#{$gridUnit} $rowMargnBottom 0;
  @include legacy-pie-clearfix();
}

@mixin span {
  @for $i from 1 through $gridNum {
    .span#{$i} {
      width: #{($gridOutWidth / $gridNum) * $i - $gridMargin}#{$gridUnit};
      margin-right: #{$gridMargin}#{$gridUnit};
      float: left;
    }
  }
}