//============================================================
// 初期設定
//============================================================
// グリッド分割数
$gridNum: 12;

//============================================================
// デフォルト設定
//============================================================
// グリッド全体幅
$rowDefaultWidth: 100;

// グリッドマージン
$gridDefaultMargin: 2;

// 単位
$gridDefaultUnit : "%";

// グリッド上下マージン
$rowDefaultMarginTop: 0;
$rowDefaultMarginBottom: 20px;