.row {
  width: #{($gridOutWidth + $gridMargin)}#{$gridUnit};
  margin-right: -$gridMargin+$gridUnit;
  @include legacy-pie-clearfix();
}

$gridDivisionSize: ($gridOutWidth + $gridMargin) / $gridNum;

@for $i from 1 through $gridNum {
  .span#{$i} {
    width: #{($gridDivisionSize * $i) - $gridMargin}#{$gridUnit};
    margin-right: #{$gridMargin}#{$gridUnit};
    float: right;
  }
}
