@charset "utf-8";

// compass
@import "compass/css3";
@import "compass/support";
@import "compass/utilities";

.dmy_box {
  @include border-radius();
  text-align: center;
  padding: 5px;
  background: #6cf;
}

.dmy_index_section {
  margin: 40px 0;
}

.dmy_index_lead {
  margin: 10px 0;
}

.dmy_h100 {
  height: 100px;
}

.dmy_h50 {
  height: 50px;
}