//============================================================
// 全体幅
//============================================================
$wrapperWidth: 100%;

//============================================================
// デフォルト設定
//============================================================
// wrapper上下マージン
$wrapperDefaultMarginTop: 0;
$wrapperDefaultMarginBottm: 20px;

// 左カラム幅・マージン
$leftSidebarDefaultWidth: 200px;
$leftSidebarDefaultMargin: 20px;

// 右カラム幅・マージン
$rightSidebarDefaultWidth: 100px;
$rightSidebarDefaultMargin: 20px;