@charset "utf-8";
/* line 13, ../sass/partial/initialization/_global-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol.unstyled, ul.unstyled, li.unstyled,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0 none;
  font: inherit;
  font-size: 13px;
  vertical-align: baseline;
}

/* line 19, ../sass/partial/initialization/_global-reset.scss */
html {
  line-height: 1;
  color: #333;
  background: #fff;
}

/* line 23, ../sass/partial/initialization/_global-reset.scss */
ol.unstyled, ul.unstyled {
  list-style: none;
}

/* line 27, ../sass/partial/initialization/_global-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 30, ../sass/partial/initialization/_global-reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 33, ../sass/partial/initialization/_global-reset.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities-legacy.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 36, ../sass/partial/initialization/_global-reset.scss */
a img {
  border: none;
}

/* line 108, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities-legacy.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0 none;
  display: block;
}

/* line 4, ../sass/partial/layout-outline/_column.scss */
.wrapper {
  width: 95%;
  margin: 0 auto;
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 1, ../sass/partial/layout-outline/_header.scss */
.header {
  width: 95%;
  margin: 0 auto;
}

/* line 1, ../sass/partial/layout-outline/_footer.scss */
.footer {
  width: 95%;
  margin: 0 auto;
}

/* line 1, ../sass/partial/component/heading/_heading1-lv1.scss */
.heading1_lv1 {
  font-size: 17px;
  font-weight: bold;
}

/* line 1, ../sass/partial/component/heading/_heading1-lv2.scss */
.heading1_lv2 {
  font-size: 15px;
  font-weight: bold;
}

/* line 1, ../sass/partial/component/heading/_heading2-lv1.scss */
.heading2_lv1 {
  font-size: 15px;
  font-weight: bold;
}

/* line 1, ../sass/partial/component/heading/_heading2-lv2.scss */
.heading2_lv2 {
  font-size: 15px;
}

/* line 1, ../sass/partial/component/heading/_heading3-lv1.scss */
.heading3_lv1 {
  font-size: 13px;
  font-weight: bold;
}

/* line 1, ../sass/partial/component/heading/_heading4-lv1.scss */
.heading4_lv1 {
  font-size: 13px;
}

/* line 1, ../sass/partial/component/_clearfix.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 17, ../sass/base.scss */
.column1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 19, ../sass/partial/layout-outline/_column.scss */
.column1 .container {
  width: 100%;
}

/* line 21, ../sass/base.scss */
.column2_left {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 35, ../sass/partial/layout-outline/_column.scss */
.column2_left .container {
  width: 100%;
  float: right;
  margin-left: -300px;
}
/* line 41, ../sass/partial/layout-outline/_column.scss */
.column2_left .contents_inner {
  position: relative;
  margin: 0 0 0 320px;
}
/* line 46, ../sass/partial/layout-outline/_column.scss */
.column2_left .left_sidebar {
  width: 300px;
  float: left;
}

/* line 25, ../sass/base.scss */
.column2_right {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 63, ../sass/partial/layout-outline/_column.scss */
.column2_right .container {
  width: 100%;
  float: left;
  margin-right: -200px;
}
/* line 69, ../sass/partial/layout-outline/_column.scss */
.column2_right .contents_inner {
  position: relative;
  margin: 0 220px 0 0;
}
/* line 74, ../sass/partial/layout-outline/_column.scss */
.column2_right .right_sidebar {
  width: 200px;
  float: right;
}

/* line 29, ../sass/base.scss */
.column3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 93, ../sass/partial/layout-outline/_column.scss */
.column3 .container {
  width: 100%;
  float: left;
  margin-right: -200px;
}
/* line 99, ../sass/partial/layout-outline/_column.scss */
.column3 .contents {
  width: 100%;
  float: right;
  margin-left: -300px;
}
/* line 105, ../sass/partial/layout-outline/_column.scss */
.column3 .contents_inner {
  position: relative;
  margin: 0 220px 0 320px;
}
/* line 110, ../sass/partial/layout-outline/_column.scss */
.column3 .left_sidebar {
  width: 300px;
  float: left;
}
/* line 115, ../sass/partial/layout-outline/_column.scss */
.column3 .right_sidebar {
  width: 200px;
  float: right;
}

/* line 39, ../sass/base.scss */
.row {
  width: 102%;
  margin: 0 -2% 20px 0;
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span1 {
  width: 6.33333%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span2 {
  width: 14.66667%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span3 {
  width: 23%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span4 {
  width: 31.33333%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span5 {
  width: 39.66667%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span6 {
  width: 48%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span7 {
  width: 56.33333%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span8 {
  width: 64.66667%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span9 {
  width: 73%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span10 {
  width: 81.33333%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span11 {
  width: 89.66667%;
  margin-right: 2%;
  float: left;
}
/* line 12, ../sass/partial/grid/_grid.scss */
.row .span12 {
  width: 98%;
  margin-right: 2%;
  float: left;
}
