@charset "utf-8";
/* line 9, ../sass/docs.scss */
.docs_container {
  width: 980px;
  margin: auto;
}

/* line 15, ../sass/docs.scss */
.dmy_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background: #6cf;
}

/* line 22, ../sass/docs.scss */
.dmy_h100 {
  height: 100px;
}

/* line 26, ../sass/docs.scss */
.dmy_h50 {
  height: 50px;
}
