@charset "utf-8";
/* line 6, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_container {
  width: 960px;
  margin: auto;
}

/* line 11, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_top_section {
  margin-top: 20px;
}

/* line 15, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_top_gate {
  border: solid 1px #fce0eb;
  min-height: 120px;
  -webkit-box-shadow: #fdf2f6 0 1px 2px inset;
  -moz-box-shadow: #fdf2f6 0 1px 2px inset;
  box-shadow: #fdf2f6 0 1px 2px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffffff), color-stop(100%, #fce0eb));
  background-image: -webkit-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: -moz-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: -o-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: linear-gradient(#ffffff 50%, #fce0eb 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 21, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_top_gate .heading2_lv2 {
  color: #f69;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
/* line 27, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_top_gate .txt_sentence {
  padding: 5px 10px;
}

/* line 34, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .docs_heading1 {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
}
/* line 39, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .docs_heading2 {
  margin: 35px 0 10px;
}
/* line 43, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .docs_explan {
  margin-bottom: 10px;
}
/* line 47, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .example {
  border: 1px solid #dedede;
  border-bottom: 0;
  padding: 40px 10px 15px 10px;
  position: relative;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 53, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .example:after {
  content: "example";
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;
  display: block;
  padding: 3px 5px;
  background: #ececec;
  border: solid #dedede;
  border-width: 0 1px 1px 0;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
/* line 66, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .example .img_float {
  margin-bottom: 20px;
}
/* line 68, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
#docs_section .example .img_float:last-child {
  margin-bottom: 0;
}

/* line 77, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_header {
  height: 110px;
  position: relative;
  z-index: 100;
}
/* line 81, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_header .docs_hgroup {
  background: #fff;
  width: 960px;
  position: fixed;
}

/* line 91, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .global_nav {
  border: solid 1px #dedede;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #ffffff), color-stop(100%, #fce0eb));
  background-image: -webkit-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: -moz-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: -o-linear-gradient(#ffffff 50%, #fce0eb 100%);
  background-image: linear-gradient(#ffffff 50%, #fce0eb 100%);
}
/* line 95, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .global_nav li {
  width: 190px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-right: solid 1px #dedede;
}
/* line 99, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .global_nav li:last-child {
  border-right: none;
}
/* line 102, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .global_nav li a {
  color: #333;
  padding: 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: bold;
}
/* line 113, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .local_nav {
  width: 200px;
  position: fixed;
  border: solid 1px #dedede;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 118, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .local_nav li {
  border-bottom: solid 1px #dedede;
}
/* line 120, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .local_nav li:last-child {
  border-bottom: none;
}
/* line 123, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_nav .local_nav li a {
  display: block;
  padding: 10px 15px 8px 15px;
  font-weight: bold;
  color: #ff6699;
  text-decoration: none;
}

/* line 135, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property {
  width: 50%;
  min-height: 19px;
  padding: 5px 10px;
}
/* line 140, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.normal_text {
  color: #333333;
}
/* line 141, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.normal_bg {
  background: white;
}
/* line 142, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.normal_border {
  border: solid 1px #333333;
}
/* line 144, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.error_text {
  color: #cc3333;
}
/* line 145, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.error_bg {
  background: #cc3333;
}
/* line 146, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.error_border {
  border: solid 1px #cc3333;
}
/* line 148, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.warning_text {
  color: red;
}
/* line 149, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.warning_bg {
  background: red;
}
/* line 150, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.warning_border {
  border: solid 1px red;
}
/* line 152, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.info_text {
  color: #6699cc;
}
/* line 153, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.info_bg {
  background: #6699cc;
}
/* line 154, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.info_border {
  border: solid 1px #6699cc;
}
/* line 156, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.notes_text {
  color: #666666;
}
/* line 157, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.notes_bg {
  background: #dddddd;
}
/* line 158, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.notes_border {
  border: solid 1px #666666;
}
/* line 160, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.disabled_text {
  color: #cccccc;
}
/* line 161, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.disabled_bg {
  background: #eeeeee;
}
/* line 162, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.docs_property.disabled_border {
  border: solid 1px #cccccc;
}

/* line 166, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.dmy_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  background: #6cf;
}

/* line 173, /Users/yoshihiro.fujita/work/packleberry/pc/sass/partial/component/extension/docs/_docs.scss */
.dmy_h100 {
  height: 100px;
}
